.main {
    font-size: 1.5rem;
    padding: 20px;
    margin: 20px;
}

.form-group {
    text-decoration: solid; 
}

.container {
    padding: 40px;
    margin: 20px;
}
.kuku {
    height: 200px;
    width: 500px;
}
table {
    border-collapse: separate;
    border-spacing: 0 20px;
    white-space: nowrap;
    
  }

th, td{
    padding: 20px;
    margin: 20px;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.2rem;
    text-align: left;
}


.button {
    text-align: center;
    text-size-adjust: 1rem;
}