.main {
    font-size: 1rem;
    padding: 15px;
    margin: 20px;
}

.form-group {
    text-decoration: solid; 
}

.container {
    padding: 20px;
    margin: 10px;
}

.table {
    padding: 30px;
    margin: 30px;
}